name: test

on:
  push:
    branches: [ master ]
    tags: [ 'v*.*' ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        java: [11]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
        java-package: jdk
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: 'release'
    - if: matrix.os == 'macos-latest'
      run: |
        ln -s /Library/Frameworks/R.framework/Versions/3.6 /Library/Frameworks/R.framework/Versions/3.5
        echo "/Library/Frameworks/R.framework/Resources/bin" >> $GITHUB_PATH
    - uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - run: |
        python -m pip install --upgrade pip
        pip install py4j==0.10.8.1
        pip install numpy
    - run: |
        WD=$PWD
        cd ..
        git clone https://github.com/Funz/funz-profile
        cd $WD
      shell: bash
    - run: ant -noinput -buildfile build.xml test
    - run: ant -noinput -buildfile build.xml coverage
      if: matrix.os == 'ubuntu-latest'
    - uses: codecov/codecov-action@v1
      if: matrix.os == 'ubuntu-latest'  
